{% extends "base.html" %}

{% block content %}

<div class="page">

    <h1>📊 Career Dashboard</h1>

    <div class="dashboard">

        <div class="stat">

            <h2>0</h2>

            <p>Skills</p>

        </div>


        <div class="stat">

            <h2>0</h2>

            <p>Applications</p>

        </div>


        <div class="stat">

            <h2>0</h2>

            <p>Interviews</p>

        </div>


        <div class="stat">

            <h2>0</h2>

            <p>Selected</p>

        </div>

    </div>

</div>

{% endblock %}