*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f0f2f5;
font-family:Arial,sans-serif;
}

.container{
width:700px;
margin:40px auto;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h1{
text-align:center;
margin-bottom:20px;
}

input{
width:100%;
padding:10px;
margin-bottom:10px;
font-size:16px;
}

button{
width:100%;
padding:12px;
margin-bottom:10px;
border:none;
cursor:pointer;
color:white;
background:#28a745;
}

button:hover{
background:#1e7e34;
}

.clearBtn{
background:red;
}

.clearBtn:hover{
background:darkred;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

table,th,td{
border:1px solid #ddd;
}

th{
background:#007bff;
color:white;
}

th,td{
padding:10px;
text-align:center;
}

.editBtn{
background:orange;
padding:6px 10px;
margin-right:5px;
border:none;
color:white;
cursor:pointer;
}

.deleteBtn{
background:red;
padding:6px 10px;
border:none;
color:white;
cursor:pointer;
}

#total{
text-align:right;
margin-top:15px;
color:green;
}